.modal{
    width: 25rem;
    height:25rem;
    background-color: #fff;
    box-shadow: 1px 1px 25px 2px #000;
    border-radius: 1rem;
    padding:2rem;
    .modalContainer{
        display: flex;
        flex-direction: column;
        button{
            font-size: 1.3rem;
            color: #fff;
            background-color: rgb(165, 102, 43, 0.85);
            width: 10rem;
            height: 2.5rem;
            border-radius: 0.6rem;
            box-shadow: 1px 1px 5px 2px #000;
            border: 0.1rem solid #fff;
        }
    }
}
.container{
    button{
        font-size: 1.3rem;
        color: #fff;
        background-color: rgb(165, 102, 43, 0.85);
        width: 10rem;
        height: 2.5rem;
        border-radius: 0.6rem;
        box-shadow: 1px 1px 5px 2px #000;
        border: 0.1rem solid #fff;
    }
}