*{
    font-family: sans-serif, Arial, Helvetica;
    margin:0;
    padding:0;
    margin:auto;
}

body{
    background: url('/fundo.png');
    margin:0;
    padding:0;
}

footer{
    display:flex;
    padding: 1rem;
}
